body { font-family:sans-serif; margin: 0 auto;}
nav {background: #1abc9c; height: 150px; width: 100%; position: relative; top:0; left:0;}
nav ul {list-style: none; margin: 0 auto; padding: 0; width: 100%; max-width:1200px;}
.menu {margin-top: -107px;}
nav ul ul {display:none; position:relative; top:100%; left:0; width:100%;}
nav ul li {position: relative; float: left; width: 10%; text-align: center;}
nav ul li:hover ul{display: block;}
nav ul li li {position: relative; float: none; width: 100%; border: none;}
nav ul li a {display: block; text-decoration: none; color:white; padding: 15px 25px; font-size: 1.2em;
  box-sizing:border-box; border-right: solid 2px #1abc9c; border-left: solid 2px #1abc9c;}
nav ul ul li a {font-size: 1rem; border-bottom: solid 2px #1abc9c;}
nav ul ul li:first-child a{border-top: solid 2px #1abc9c;}
nav ul li:hover a{background: white; color: #1abc9c; text-decoration: none; transition: 0.5s;}
nav ul li li:hover a{background: #1abc9c; color: white;}
.about, .contact {
 max-width: 800px;
 margin: 0 auto;
 padding-left: 60px;
}
a.block { display:block;padding:5px; text-align: center; font-weight:bold; border-top:1px; border-bottom:1px; solid #dc5139; background-color:white; text-decoration:blue}
a.block:hover, a.block:focus, a.block:active { background-color:white; border-top:1px; border-bottom:1px; solid #f5f238;}
{BODY-------}
#content {
 max-width: 800px;
 margin: 0 auto;
 padding-left: 60px;
 padding-top: 0px;
 padding-bottom: 100px;
}
.post {
  padding: 50px;
}
.post-autor img {
 width: 50px;
 height: 50px;
 vertical-align: middle;
}
.post-autor span {
 margin-left: 16px;
}
.post-date {
 color: #858585;

 font-size: 14px;
 font-weight: bold;

 text-transform: uppercase;
 letter-spacing: 0.1em;
}
h1, h2, h3, h4 {
 color: #333;
}
p {
 line-height: 1.5;
}
.container {
 max-width: 1000px;
 margin: 0 auto;
}
#footer {
 background-color: #2f2f2f;
 padding: 50px 50px 50px 200px;
}
.column {
 min-width: 300px;
 display: inline-block;
 vertical-align: top;
}
#footer h4 {
 color: white;
 text-transform: uppercase;
 letter-spacing: 0.1em;
}
#footer p {
 color: white;
}
a {
 color: #1abc9c;
 text-decoration: none;
}
a:hover {
 color: #F6A623;
}
.about {
 text-align: center;
}

.post-container:nth-child(even) {
 background-color: #f2f2f2;
}
.contact {
 text-align: center;
}
.contact-author img{
  border-radius: 550px;
  border: solid 5px #1abc9c
}
.post-author img,
 .about-author img { border-radius: 100px;
 border: solid 5px #1abc9c;
}
.quadro {
  border: solid 10px #1abc9c;
  margin-left: 80px;
}
.quadri-title, .contact-title, .about-titile {
  text-align: center;
}
